name: Publish Python Package

on:
  push:
    tags:
      - 'v*'  # v0.1.0 のようなタグを push したときに動作

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build tools
        run: pip install --upgrade build twine pytest

      - name: Run tests
        run: pytest

      - name: Build package
        run: python -m build

      - name: Publish package to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_KEY }}
        run: python -m twine upload dist/*
